html .top-content {
  box-shadow: 0 5px 15px 0 #97989c;
  z-index: 2000;
}
html .starring-as-board-list,
html .board-edit form,
html .board-calendar .board-calendar-message,
html .list-switcher-wrapper,
html .add-list-link-wrapper {
  background-color: rgba(236,239,244,0.95);
}
html .board-store .starring-as-board-list {
  border-color: rgba(236,239,244,0.95);
}
html .starring-as-board-lists > .starring-as-board-list {
  margin-left: 15px;
  margin-top: 15px;
}
html .starring-as-board-lists > .starring-as-board-list .board-list-header {
  margin-top: 10px;
}
html .add-list-link-wrapper {
  margin-left: 15px;
}
