html
  .top-content
    box-shadow 0 5px 15px 0 #97989c
    z-index 2000

  .starring-as-board-list, .board-edit form, .board-calendar .board-calendar-message, .list-switcher-wrapper, .add-list-link-wrapper
    background-color rgba(236, 239, 244, 0.95)

  .board-store
    .starring-as-board-list
      border-color rgba(236, 239, 244, 0.95)

  .starring-as-board-lists > .starring-as-board-list
    margin-left 15px
    margin-top 15px
    .board-list-header
      margin-top 10px
